h1 {
  width: 50%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  bottom: 40px;
  padding: auto;
  background-color: rgba(0, 0, 0, 0);
}

label {
  font-size: 1.2em;
  font-weight: bold;
}

